@media only screen and (min-width: 1251px){
    #admin_nav {
        width: 20%;
        height: 550px;
        background-color: rgb(38, 39, 43);;
        color:rgb(115, 115, 115);
        float: left;
    }
    
    #admin_naam {
        text-align: center;
        padding: 4px;
    }
    
    hr{
        margin-top: 5px;
        color: white;
        background-color: white;
        border-color: none;
    }
    
    #admin_nav_content {
        margin-top: 10px;
        color: white;
    }
    
    
    table {
        border-collapse: separate;
        width: 100%;
        border: 1px solid black;
        background-color: #F5F5F5;
    
        -webkit-box-shadow: 10px -7px 29px -10px rgba(8,8,8,0.81);
        -moz-box-shadow: 10px -7px 29px -10px rgba(8,8,8,0.81);
        box-shadow: 10px -7px 29px -10px rgba(8,8,8,0.81);
        
        margin-left: 5px;
        margin-top: 20px;;
    }
    
    #admin_nav_content_dashboard,#admin_nav_content_klant{
        border-top: 1px solid white;
    
    }
    
    
    #admin_nav_content_dashboard,
    #admin_nav_content_klant,
    #admin_nav_content_admin
    ,#admin_nav_content_producten
    ,#admin_nav_content_productcategorie
    ,#admin_nav_content_winkelmandje,
    #admin_nav_content_promocode{
        border-bottom: 1px solid white;
    
        background-color: rgb(38, 39, 43);;
        color:rgb(115, 115, 115);
        text-align: center;
        line-height: 2.5;
        height: 40px;
        padding: 4px;
    
    }
    
    #admin_content {
        display: block;
        width: 78%;
        text-align: center;
        float:right;
        margin-right: 25px;
       
    }
    
    #admin_content_klant_table_tr td, #admin_content_admin_table_tr td, #admin_content_prducten_table_tr td, #admin_content_admin_table_tr td, #admin_content_winkelmandje_tr td, #admin_content_promo_code_tr td {
        border: 1px solid black;
        margin-left: 40px;
    }
    
    #add {
       float: left;
       margin-left: 5px;
       margin-top: 5px;
    }
    
    #admin_content_klant {
        display: block;
        text-align: -webkit-center;
    }
    
    #admin_content_dashboard
    ,#admin_content_admin
    ,#admin_content_producten
    , #admin_content_productcategorie
    ,#admin_content_winkelmandje,
    #admin_content_promocode {
        display: none;
        text-align: -webkit-center;
    }
    
    #edit{
        
        /**#ff22 */
        background-color: #90ee90	;
        color black;
        outline: none;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        padding: 0.5rem 1rem;
    }
    
    #delete, #editForm_close {
        background-color: 	#ff7272;
        outline: none;
        cursor: pointer;
        border: none;
        width: 68px;
        border-radius: 5px;
        padding: 0.5rem 1rem;
    }
    
        /**#ECAB38**/
    #add_button, #editForm_savechanges {
        background-color: #659BDF;
        outline: none;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        padding: 0.5rem 1rem;
    }
    
    .test {
        width: 200px;
    }
    
    #productImage {
        width: 60px;
        height: 60px;
    }
    
    #editForm {
        display: none;
        width: 550px;
        height: 60%;
        background-color: #F5F5F5;
    
        position: absolute;
        top: 120px;
        left: 392px;
        z-index: 999;
    
        transition: 0.5s;
        transform: translateY(0%);
    
    
        -webkit-box-shadow: 87px 111px 300px 200px rgba(224,224,224,1);
        -moz-box-shadow: 87px 111px 300px 200px rgba(224,224,224,1);
        box-shadow: 87px 111px 300px 200px rgba(224,224,224,1);
    }
    
    #floater{
        clear:right;
    }
    
    
       
}



@media only screen and (max-width: 1251px){
    #admin_nav {
        width: 20%;
        height: 550px;
        background-color: rgb(38, 39, 43);;
        color:rgb(115, 115, 115);
        float: left;
    }
    
    #admin_naam {
        text-align: center;
        padding: 4px;
    }
    
    hr{
        margin-top: 5px;
        color: white;
        background-color: white;
        border-color: none;
    }
    
    #admin_nav_content {
        margin-top: 10px;
        color: white;
    }
    
    
    table {
        border-collapse: separate;
        width: 100%;
        border: 1px solid black;
        background-color: #F5F5F5;
    
        -webkit-box-shadow: 10px -7px 29px -10px rgba(8,8,8,0.81);
        -moz-box-shadow: 10px -7px 29px -10px rgba(8,8,8,0.81);
        box-shadow: 10px -7px 29px -10px rgba(8,8,8,0.81);
        
        margin-left: 5px;
        margin-top: 20px;;
    }
    
    #admin_nav_content_dashboard,#admin_nav_content_klant{
        border-top: 1px solid white;
    
    }
    
    
    #admin_nav_content_dashboard,
    #admin_nav_content_klant,
    #admin_nav_content_admin
    ,#admin_nav_content_producten
    ,#admin_nav_content_productcategorie
    ,#admin_nav_content_winkelmandje,
    #admin_nav_content_promocode{
        border-bottom: 1px solid white;
    
        background-color: rgb(38, 39, 43);;
        color:rgb(115, 115, 115);
        text-align: center;
        line-height: 2.5;
        height: 40px;
        padding: 4px;
    
    }
    
    #admin_content {
        display: block;
        width: 78%;
        text-align: center;
        margin-right: 25px;
       
    }
    
    #admin_content_klant_table_tr td, #admin_content_admin_table_tr td, #admin_content_prducten_table_tr td, #admin_content_admin_table_tr td, #admin_content_winkelmandje_tr td, #admin_content_promo_code_tr td {
        border: 1px solid black;
        margin-left: 40px;
    }
    
    #add {
       float: left;
       margin-left: 5px;
       margin-top: 5px;
    }
    
    #admin_content_klant {
        display: block;
        text-align: -webkit-center;
    }
    
    #admin_content_dashboard
    ,#admin_content_admin
    ,#admin_content_producten
    , #admin_content_productcategorie
    ,#admin_content_winkelmandje,
    #admin_content_promocode {
        display: none;
        text-align: -webkit-center;
    }
    
    #edit{
        
        /**#ff22 */
        background-color: #90ee90	;
        color black;
        outline: none;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        padding: 0.5rem 1rem;
    }
    
    #delete, #editForm_close {
        background-color: 	#ff7272;
        outline: none;
        cursor: pointer;
        border: none;
        width: 68px;
        border-radius: 5px;
        padding: 0.5rem 1rem;
    }
    
        /**#ECAB38**/
    #add_button, #editForm_savechanges {
        background-color: #659BDF;
        outline: none;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        padding: 0.5rem 1rem;
    }
    
    .test {
        width: 200px;
    }
    
    #productImage {
        width: 60px;
        height: 60px;
    }
    
    #editForm {
        display: none;
        width: 550px;
        height: 60%;
        background-color: #F5F5F5;
    
        position: absolute;
        top: 120px;
        left: 392px;
        z-index: 999;
    
        transition: 0.5s;
        transform: translateY(0%);
    
    
        -webkit-box-shadow: 87px 111px 300px 200px rgba(224,224,224,1);
        -moz-box-shadow: 87px 111px 300px 200px rgba(224,224,224,1);
        box-shadow: 87px 111px 300px 200px rgba(224,224,224,1);
    }
    
    #floater{
        clear:right;
    }
    
    
       
}