
@media only screen and (min-width: 856px) {
    #container {
       align-items: center;
   }
   #product {
       width: 360px;
       height: 500px;
       border-radius: 5px;
       margin: 10px 10px 10px 4px;
       float: right;
       border: 1px solid black;
   
   }
   #product span {
       font-size: 15px;
      

   }

   #product span#artikelNaam {
      
       font-size: 25px;
       text-transform: uppercase;
       margin-top: 5px;
       letter-spacing: 3px;
   
   }

   #floatBreaker {
       clear: right;
       width: 100%;
       height: auto;
   }
   

   #three-row {
       width: 1130px;
       margin: 0px auto;
   }

   #productImage {
       height: 80%;
       width: 100%;
   }

}

@media only screen and (max-width: 856px) {
    #container {
       align-items: center;
   }
   #product {
       width: 360px;
       height: 500px;
       border-radius: 5px;
       margin: 10px 21px 10px 4px;
       float: right;
       border: 1px solid black;
   }
   #product span {
       font-size: 15px;
       margin-left: 100px;

   }

   #product span#artikelNaam {
       margin-left: 100px;
       font-size: 25px;
       text-transform: uppercase;
       margin-top: 5px;
       letter-spacing: 3px;
   
   }

   #floatBreaker {
       clear: both;
       width: 100%;
       height: auto;
   }
   

   #three-row {
       width: 775px;
       margin: 0px auto;
       margin-left: 1px;
   }

   #productImage {
       height: 80%;
       width: 100%;
       
   }

}

@media only screen and (max-width: 670px) {
    #container {
       align-items: center;
   }
   #product {
       width: 360px;
       height: 500px;
       border-radius: 5px;
       margin: 10px 21px 10px 4px;
       float: right;
       border: 1px solid black;
   }
   #product span {
       font-size: 15px;
       margin-left: 100px;

   }

   #product span#artikelNaam {
       margin-left: 100px;
       font-size: 25px;
       text-transform: uppercase;
       margin-top: 5px;
       letter-spacing: 3px;
   
   }

   #floatBreaker {
       clear: both;
       width: 100%;
       height: auto;
   }
   

   #three-row {
       width: 480px;
       margin: 0px auto;
       margin-left: 1px;
   }

   #productImage {
       height: 80%;
       width: 100%;
       
   }

}